<h1>North City Library System</h1>

<h2>A CRUD App for CS 340 using Node</h2>

<h3>There is CRUD functionality for Books so far</h3>

<ul>
<li><a href="/books">Books</a></li>
<li><a href="/genres">Genres</a></li>
<li><a href="/patrons">Patrons</a></li>
<li><a href="/publishers">Publishers</a></li>
<li><a href="/authors">Authors</a></li>
<li><a href="/books_authors">Books and Authors</a></li>
</ul>