{{!-- Citation for the code in this file:
        Code is copied from, adapted from, and based on:
        Source Title: nodejs-starter-app
        Author(s): gkochera (George Kochera), Cortona1, currym-osu (Dr. Michael Curry), dmgs11
        Source Type: source code and information guide
        Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
        Date Accessed: 7/25/2022 --}}


<link rel="stylesheet" href="./css/home.css">

<header>

<h1>North City Library System</h1>

<h2>A CRUD App for CS 340 using Node</h2>


</header>

<body>

<ul>
<li><a href="/books">Books</a></li>
<li><a href="/genres">Genres</a></li>
<li><a href="/patrons">Patrons</a></li>
<li><a href="/publishers">Publishers</a></li>
<li><a href="/authors">Authors</a></li>
<li><a href="/books_authors">Books and their Authors</a></li>
</ul>

</body>