<h1>North City Library System</h1>

<h2>A CRUD App for CS 340 using Node</h2>

<h3>There is CRUD functionality for Books so far</h3>

<a href="/books">Books</a>

<a href="/genres">Genres</a>

<a href="/patrons">Patrons</a>

<a href="/publishers">Publishers</a>

<a href="/authors">Authors</a>

<a href="/books_authors">Books and Authors</a>
